<div>
  <main>
    <div class="card">

      {{#with navigation}}
      <div class="nav m-2">
        {{#each links}}
        <div class="nav-item">
          {{>shoplink}}
        </div>
        {{/each}}
        {{/with}}
      </div>
  </main>


  <hr>
  <h1 class="display-4 ms-3 mb-5">{{header}}</h1>
  {{#with contacts_data}}
  <div class="container ms-3">
    <div class="row">

      <h2 class="display-6 ms-3">{{title}}</h2>
      {{#each buttons}}

      <div class="col-sm-5 ml-2">
        <ul class="ps-1">
          {{>buy}}
        </ul>
      </div>
      {{/each}}

      <div class="col-sm-8">
        <div class="row">
          {{#with form/input}}

          <div class="col-sm-5 m-2">
            {{#with surname}}
            {{>form}}
            {{/with}}
          </div>

          <div class="col-sm-5 m-2">
            {{#with name}}
            {{>form}}
            {{/with}}
          </div>


          <div class="col-sm-5 m-2">
            {{#with phone}}
            {{>form}}
            {{/with}}
          </div>


          <div class="col-sm-5 m-2">
            {{#with email}}
            {{>form}}
            {{/with}}

          </div>
        </div>
      </div>
      {{/with}}
    </div>
  </div>
  {{/with}}


</div>






<div class=" card">
  {{#each footer}}
  <div class="nav nav-tabs">
    {{#each this}}
    <div class="col-3 list-group">
      <div class="nav-item">
        <a href="{{link}}" class="nav-link"> {{text}}</a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>
</div>