{{#if isNew}}
<span class="badge text-bg-primary rounded-pill">NEW</span>
{{/if}}
{{#if isHot}}
<span class="badge text-bg-danger rounded-pill">HOT</span>
{{/if}}
{{#if isFast}}
<span class="badge text-bg-outline-primary rounded-pill">NEW</span>
{{/if}}
{{#if isFree}}
<span class="badge text-bg-success rounded-pill">NEW</span>
{{/if}}