<label class="form-label"><b>{{label}}</b></label>
<input type="text" class="form-control" placeholder="{{placeholder}}" aria-label="Username"
    aria-describedby="basic-addon1">
<div class="form-text text-secondary">{{caption}}</div>