<nav>
	<ul>
		<li>{{>link text='Skills' href='/skills' line = true}}</li>
		<li>{{>link text='Summary' href='/summary' line = true}}</li>
		<li>{{>link text='Education' href='/education' line = true}}</li>
		<li>{{>link text='Web' href='/web' line = true}}</li>
		<li>{{>link text='Program' href='/program' line = true}}</li>
		<li>{{>link text='Person' href='/person' line = true}}</li>
		<li>{{>link text='Bio' href='/bio' line = true}}</li>
		<li>{{>link text='Work' href='/work' line = true noline=true}}</li>
	</ul>
</nav>